*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #373a3c;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

.main {
  section {
    text-align: center;
  }
}

/****************/
/*    MIXINS    */

@mixin projectsGallery {
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      background: url(../images/portfolio-#{$i}.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}
