/****************/
/*  components  */

.header {
  background: #ffffff;

  &__navbar {
    width: 100%;
    padding: 3rem;

    position: fixed;
    top: 0;

    transition: background 0.5s;
  }
  .header__logo {
    img {
      width: 85px;
      height: 35px;
    }
  }

  &__nav {
    font-family: 'Work Sans', sans-serif;
    a {
      // color: #5f5f5f;
      color: #bfbfbf;

      font-weight: 500;
      font-size: 1.4rem;

      padding: 1rem 1.5rem;
      text-transform: uppercase;

      transition: color 0.5s;
    }

    li:last-child a {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__banner {
    height: 100vh;
    min-height: 700px;
    padding-top: 15rem;

    color: #ffffff;
    text-align: center;

    background: linear-gradient(
        to left,
        rgba(12, 12, 12, 0.6),
        rgba(12, 12, 12, 0.6)
      ),
      url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
  }

  &__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-bottom: 3.5rem;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 700;

    margin-bottom: 5rem;

    em {
      font-weight: 400;
    }
  }

  &__down-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-top: 17rem;

    border-radius: 50%;
    border: 1px solid currentColor;

    color: #ffffff;
    opacity: 0.6;

    ion-icon {
      font-size: 3rem;
    }
  }
}

.btn {
  display: inline-block;

  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;

  padding: 1.8rem 2.5rem;
  background: #252525;
  color: #ffffff;
}

.section-heading {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;

  margin-bottom: 3rem;

  color: #171717;
}

.text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;

  color: #5f5f5f;
}

.card {
  color: #171717;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);

  &__img {
    position: relative;

    img {
      width: 100%;
    }
  }

  .btn {
    position: absolute;
    left: 10px;
    bottom: 10px;

    font-size: 1.2rem;
    padding: 10px 20px;
  }

  &__body {
    background: #ffffff;
    padding: 1.5rem 3rem;
    text-align: left;
    text-transform: capitalize;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
  }

  &__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;

    margin: 20px 0;
  }
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  button {
    border: none;
    outline: none;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 3rem;

    border: none;
    outline: none;

    font-family: 'Work Sans', sans-serif;
    color: #5f5f5f;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    padding: 1.5rem 0 1.5rem 2rem;
  }

  &__name {
    width: 50%;
    padding-right: 15px;
  }

  &__email {
    width: 50%;
    padding-left: 15px;
  }

  &__title,
  &__comment {
    width: 100%;
  }
}

.footer {
  background: linear-gradient(
      to left,
      rgba(12, 12, 12, 0.8),
      rgba(12, 12, 12, 0.8)
    ),
    url(../images/blog-2.jpg);
  background-size: cover;
  background-position: top;

  &__heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;

    color: #ffffff;
    margin-bottom: 3rem;
  }

  &__icon {
    display: inline-block;
    font-size: 2rem;

    color: #ffffff;
  }

  &__content {
    padding: 8rem 0;
  }

  &__about {
    ul li {
      margin-right: 1.5rem;
    }

    ul li a {
      text-decoration: none;
    }

    p.text {
      margin-bottom: 3rem;
      color: #ffffff;
    }
  }

  &__tweets {
    ul {
      flex-wrap: wrap;
    }
    ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      margin-bottom: 2rem;
    }

    p.text {
      margin-bottom: 0;
      color: #ffffff;
      max-width: calc(100% - 4rem);
    }
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(2, 8rem);
    gap: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 2rem 0;

    a {
      text-decoration: none;
      color: #ffffff;
    }

    p.text {
      color: #ffffff;
    }
  }
}

// gallery component
.gallery {
  background: #f6f6f6;
  overflow: hidden;
  padding-bottom: 7rem;

  &__header {
    text-align: center;
  }

  &__square {
    display: inline-block;
    margin: 4rem 0 2.5rem;

    span {
      cursor: pointer;
      display: inline-block;
      height: 16px;
      width: 16px;
      position: relative;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;

        background: #171717;
        color: #171717;
        transition: all 0.2s;

        width: 6px;
        height: 6px;
      }

      &::after {
        left: 0;
        box-shadow: 0 10px;
      }
      &::before {
        right: 0;
        box-shadow: 0 10px;
      }

      &:hover::after,
      &:hover::before {
        opacity: 0.6;
      }
    }

    &.active span::after,
    &.active span::before {
      opacity: 0.4;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    height: 0;
    margin-bottom: 0;
    transition: all 1.2s;

    &.active {
      margin-bottom: 1rem;
      height: 54px;
    }

    &.active .gallery__item {
      transform: scaleY(1) translateY(0);
      opacity: 0.8;
    }
  }

  &__item {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem;

    transform: scaleY(0) translateY(-30px);
    transform-origin: top;
    opacity: 0;

    @for $i from 1 to 7 {
      &:nth-child(#{$i}) {
        transition: transform 0.5s, opacity 0.2s;
        transition-delay: #{$i * 0.05s};
      }
    }

    &.active {
      opacity: 1;
    }
  }
}

// loadmore component
.loadmore {
  text-align: center;
  padding: 4rem 0;

  a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #171717;
  }
}
