// glide library overwrite
.glide__bullets {
  padding: 5px 0;
}

.glide__bullet {
  display: inline-block;

  width: 8px;
  height: 8px;
  margin: 0 5px;

  border-radius: 50%;
  border: none;

  transform: scale(1);
  transition: transform 0.5s;
  outline: none;
}
//

// ABOUT CSS
.about {
  padding: 9rem 0;

  .text {
    margin-bottom: 3rem;
  }
}

// FEATURES CSS
.features {
  color: #ffffff;
  background: url(../images/bg-2.jpg);
  padding: 9rem 0;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    width: 5rem !important;
    height: 5rem !important;
  }

  &__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;

    margin-left: 2.5rem;

    span {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  // responsive
  @include responsiveSM {
    &__item {
      margin-bottom: 3.5rem;
    }

    &__last-item {
      margin-bottom: 0;
    }
  }
}

// PROJECTS CSS
.projects {
  padding-top: 9rem;

  .text {
    margin-bottom: 7rem;
  }

  &__imgs {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
  }

  &__img {
    width: 33.333%;
    padding-top: 33.333%;
    position: relative;

    @include projectsGallery;
  }

  &__overlay {
    &:hover {
      opacity: 1;

      h3,
      p {
        transform: translateY(0);
      }
    }

    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.7s;

    h3 {
      font-family: 'Playfair Display', serif;
      text-transform: capitalize;
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      transform: translateY(20px);
      transition: transform 0.7s;
    }

    p {
      text-transform: uppercase;
      font-size: 1.5rem;
      transform: translateY(10px);
      transition: transform 0.5s;
    }
  }

  // responsive
  @include responsiveSM {
    &__img {
      width: 100%;
      padding-top: 100%;
    }
  }
}

// REVIEWS CSS
.reviews {
  color: #ffffff;

  & .container {
    overflow-x: hidden;
  }

  blockquote {
    max-width: 740px;
    margin: auto;
    cursor: grabbing;
    user-select: none;
  }

  &__blockquote {
    background: url(../images/bg-2.jpg);
    padding: 17rem 0 7rem 0;
  }

  &__quote {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;

    margin-bottom: 3rem;
  }

  &__signature {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;

    text-transform: uppercase;
  }

  &__imgs {
    overflow-x: hidden;
    padding: 4.5rem 0;
  }

  &__img {
    width: 100%;
    cursor: grabbing;
  }

  .glide__bullets {
    margin-top: 10rem;
  }
  .glide__bullet {
    background: #ffffff;
    opacity: 0.5;
    &--active {
      opacity: 1;
      transform: scale(1.6);
    }
  }

  // responsive
  @include responsiveSM {
    &__quote {
      max-width: 400px;
      transform: translateX(60px);
    }
  }
}

// BLOG CSS
.blog {
  padding: 9rem 0;
  background: #fafafa;
  user-select: none;

  &__header .text {
    margin-bottom: 7rem;
  }

  &__cards {
    overflow-x: hidden;
    cursor: grabbing;
  }

  .glide__bullets {
    margin-top: 5rem;
  }

  .glide__bullet {
    &--active {
      background: #333333;
      transform: scale(1.5);
    }
  }
}

// CONTACT CSS
.contact {
  padding: 9rem 0;
  background: #f6f6f6;

  .contact__info {
    & > * {
      text-align: left !important;
    }
  }

  .text:not(:first-of-type) {
    margin-top: 2rem;
  }

  .text strong {
    color: #252525;
  }
}

// overwrite header component
.index__header {
  &.active {
    .header__navbar {
      background: #ffffff;
    }

    .header__nav {
      a {
        color: #5f5f5f;
      }
    }
  }

  .header__navbar .header__logo {
    img {
      width: 85px;
      height: 35px;
    }

    img:first-child {
      display: block;
    }

    img:last-child {
      display: none;
    }
  }
}
